body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    padding: 30px;
}
h1{
    color: #38bdf8;
}

 .container{
    display:flex;
    gap: 30px
}

.card{
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

input, select, button{
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}

button {
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

.task{
    margin-bottom: 12px;
}
